extends layout

block content
    h1= title

    form(id='ElectionForm', action="/resource/elections", method="POST")
        div.form-group
            label.electionAttr(for='year') Election year
            input#year(type='text', name='year')
        div.form-group
            label.electionAttr(for='location') Election location
            input#location(type='text', name='location')
        div.form-group
            label.electionAttr(for='candidate') Election candidate
            input#candidate(type='number', name='candidate')
        input(type="submit")
    script.
        document.forms['ElectionForm'].addEventListener('submit', (event) => {
        event.preventDefault();
    // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {method: 'POST', body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
        alert("Save succeded")
    // TODO handle body
        }).catch((error) => {
    // TODO handle error
        alert("Save failed " + error )
        });
        });