extends layout

block content
  h1(id="title")= title

  if (toShow == null)
    h2 No instance to update
  else
  - let election_id = toShow._id
  - let year = toShow.year
  - let location = toShow.location
  - let candidate = toShow.candidate
  
  div.row(class='mb-2')
    div.mr-1 ID is
    div #{election_id}
  - let actionid = "/resource/elections/" + election_id
  form(id='electionForm', action= actionid, method="PUT")
    div.form-group
        label.electionAttr(for='year') Election Year
        input#election_year(type='number', name='year', value= year )
    div.form-group
        label.electionAttr(for='location') Election Location
        input#City(type='text', name='location', value= location )
    div.form-group
        label.electionAttr(for='candidate') Election Candidate
        input#Students(type='text', name='candidate', value= candidate )
    input(type="submit")

  script.
    document.forms['electionForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Update succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Update failed " + error )
      });
    });